
#root{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.logo-container {
    background-color: #496EBD;
    font-family: Impact, fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login {
    background-image: url("../public/loginbackgroundpic.jpg");
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0;
    text-align: left;
    justify-content: center;
    display: flex;
    padding-top: 120px;
    font-weight: bolder;
}
.login-form {
    display: flex;
    justify-content: center;
    height: 650px;
    width: 30%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding-top: 90px;
    border-radius: 50px;
}
.slightly-rounded {
  border-radius: 5px;
}
.login-logo{
    background-color: #496EBD;
    padding: 20px;
    border-radius: 30%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 40px;
    width: 160px;
    height: auto;
}
.mapcontainer {
    width: 100%;
    height: 80vh;
}
.loginHeader {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.col-md-6 {
  display: absolute;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: left; 
  padding-bottom: 50px;
}


.requestContainer {
  z-index: 5;
  display: absolute;
  flex-direction: column;
  gap: 10px;
  padding: 2rem;
  border-width:2px;
  border-style:solid;
  border-color:black;
  width: 75%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.image-overlay-container {
  position: relative;
  width: 310px;
  height: 310px;
  margin: 0 33%;
}
.table {
  border-collapse: collapse;
  width: 100%;
}

.th,
.td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

.th {
  background-color: rgb(117, 201, 250);
}

.td {
  background-color: rgb(205, 235, 253);
  
}

.td:hover {
  background-color:lightcyan;
}

.myrequesttext{
  text-align: center;
}

.navbar {
  font-size: 25px;
}

.navbarBrand {
  font-size: xx-large;
}

.editButton {

  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.editButton:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.editButton:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.editButton:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.editButton:focus {
  outline: 1px transparent;
}

.editButton:before {
  display: none;
}

.editButton:-webkit-details-marker {
  display: none;
}

.float-container {
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
}  


/*
Side Drop Bar

*/
/* The sidebar menu */
.sidebar {
  position: absolute;
  left: -45vw;
  height: 100%;
  width: 45vw;
  transition: left 0.5s ease-in-out;
  background-color: white;
  z-index: 1;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-style: none;
}

.sidebar-toggle {
  position: absolute;
  right: -60px;
  height: 60px;
  width: 60px;
  z-index: 1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: none;
  background-color: white;
}
.sidebar-button-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    clip-path: inset(-15px -15px -15px 0px);
}
.sidebar-closed-button {
    margin: 0 auto;
}
.content {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  transition: left 0.5s ease-in-out;
  background-color:white;
}
.sidebar.open {
  left: 0;
}
.content.open {
  left: 15vw;
}
#grid-sidebar {
    margin: 10px auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 20px;
    max-width: fit-content;
}
#grid-profile {
  margin: 10px auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px 20px;
  max-width: fit-content;

}
.border-image {
    border-radius: 5px;
}

.info-header {
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: 600;
    padding: 0 5px;
}
.badge {
    padding: 3px;
    border-radius: 3px;
}


.searchbar {
    box-sizing: border-box;
    border: 1px solid transparent;
    width: 240px;
    height: 32px;
    padding: 0 12px;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    outline: none;
    text-overflow: ellipses;
    position: absolute;
    top: 11%;
    left: 50%;
    margin-left: -120px;
    z-index: 2;
}
.searchbar::placeholder {
  text-align: center; 
}

#user-home {
    overflow: hidden;
}
.select-dropdown {
    text-align-last:center;
    direction: ltr;
    /* padding-left:; */
    outline: none;
    text-overflow: ellipses;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 2;
    top: 15%;
    left: 50%;
    margin-left: -120px;
    width: 240px;
    height: 32px;
}
.chef-home {
  padding: 0.5% 5%;
  height: max-content;
}
.rounded-image {
  border-radius: 50%;
  object-fit: fill;
}
.text-overlay-container {
  position: absolute;
  top:0;
  left: 0;
}
.text-inner-container {
  display: flex;
  width: 310px;
  height: 160px;
  color: white;
  flex-direction: column;
  z-index: 2;
  padding: 10px;

}

.info-popup-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gap {
  gap: 5px;
}
.large-gap {
  gap:15px;
}
.header-info-card {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  width: 100%;
  height: 200px;
  z-index: 5;
}
.star-review {
  color: #FFD700;
}
  
.infoText {
  padding-top: 5%;
  border-bottom: 0.5px solid rgb(211, 211, 211);

}

.request-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:4px;
}

.editProfileInputs {
  padding-top: 5%;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  z-index: 3;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  overflow: hidden;
  position: relative;
  animation: text-color 2s ease-in-out infinite alternate;
}

.spinner-sector {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px solid transparent;
  mix-blend-mode: overlay;
  animation: rotate var(--duration) var(--timing) infinite;
  pointer-events: none;
}

.spinner-sector-red {
  border-top-color: lightcoral;
  --duration: 1.5s;
  --timing: ease-in-out;
}

.spinner-sector-blue {
  border-left-color: lightblue;
  --duration: 2s;
  --timing: ease-in;
}

.spinner-sector-green {
  border-right-color: lightgreen;
  --duration: 2.5s;
  --timing: ease-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes text-color {
  0% {
    color: rgba(0, 0, 0, 1);
  }

  50% {
    color: rgba(0, 0, 0, .5);
  }

  100% {
    color: rgba(0, 0, 0, .1);
  }
}

.errorMessage {
  color: red;
  text-align: center;
}
