*{
    margin: 0;
    padding: 0;
}

.logo-container {
    background-color: #496ebd;
    font-family: Impact, fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.login {
    background-image: url("../public/loginbackgroundpic.jpg");
    background-size: cover;
    background-position: center; 
    opacity: 85%; 
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0; 
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 90px;
    padding-bottom: 90px;
}

.loginform {
    display: flex;
    justify-content: center;
    height: 600px;
    width: 35%;
    padding-top: 50px;
    background-color: white;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    padding-top: 30px;
    border-radius: 60px;
}

.mapcontainer {
    width: 100%;
    height: 100vh;
}

