*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.logo-container {
    background-color: #496ebd;
    font-family: Impact, fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.login {
    background-image: url("../public/loginbackgroundpic.jpg");
    background-size: cover;
    background-position: center;  
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0; 
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 120px;
    font-weight: bolder;
}

.login-form {
    display: flex;
    justify-content: center;
    height: 750px;
    width: 30%;
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgb(207, 207, 207);
    padding-top: 90px;
    border-radius: 50px;

}

.login-logo{
    background-color: #496ebd;
    padding: 20px;
    border-radius: 30%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 40px;
    width: 160px;
    height: auto;
}

.login-img{

}



.mapcontainer {
    width: 100%;
    height: 80vh;
}
