#root{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.logo-container {
    background-color: #496EBD;
    font-family: Impact, fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login {
    background-image: url("../public/loginbackgroundpic.jpg");
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0;
    text-align: left;
    justify-content: center;
    display: flex;
    padding-top: 120px;
    font-weight: bolder;
;
}
.login-form {
    display: flex;
    justify-content: center;
    height: 750px;
    width: 30%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding-top: 90px;
    border-radius: 50px;
}
.login-logo{
    background-color: #496EBD;
    padding: 20px;
    border-radius: 30%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 40px;
    width: 160px;
    height: auto;
}
.mapcontainer {
    width: 100%;
    height: 80vh;
}
.loginHeader {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}